<div class="col-12 topbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light d-print float-right">
            <ul class="navbar-nav">
                <li class="navbar-item"><a class="navbar-link" href="{{ urls.contact }}">Contact</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ urls.about_us }}">Over ons</a></li>
                <li class="navbar-item d-none d-sm-flex"><a class="navbar-link" href="{{ urls.terms_and_conditions }}">Algemene voorwaarden</a></li>
                <li class="navbar-item d-none d-sm-flex"><a class="navbar-link" href="{{ urls.disclaimer_and_privacy }}">Privacy & Disclaimer</a></li>
                <li class="navbar-item"><a class="navbar-link" href="{{ urls.support }}">Support en FAQ</a></li>
            </ul>
        </nav>
    </div>
</div>