<footer id="footer">
    <div class="{{ container == true ? 'container-fluid' : 'container' }}">
        <div class="ftrtop">
            <div class="col-md-4 col-6 no-padding footer-info">
                <p>{{ lang.site_footer.column_text }}</p>
                <span>{{ lang.site_footer.column_street }}</span><br>
                <span>{{ lang.site_footer.column_address }}</span><br>
                <span><i class="fa fa-phone"></i></span>
                <span><a href="tel:{{ lang.site_footer.column_phone }}">{{ lang.site_footer.column_phone }}</a></span><br>
                <span><i class="fa fa-envelope"></i></span>
                <span>{{ lang.site_footer.column_email }}</span><br>
            </div>
            <div class="col-md-4 d-none d-md-flex">
                {#<ul>#}
                    {#<li><b>Categorieën</b></li>#}
                    {#{% for category in categories %}#}
                        {#<li>#}
                            {#<a href="{{ urls.category_products ~ category.id }}">{{ category.name }}</a>#}
                        {#</li>#}
                    {#{% else %}#}
                        {#<li style="text-align: center; font-weight: bold">Geen categorieën</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            </div>

            <div class="col-md-4 col-6 no-padding">
                <!-- Pages menu -->
                <nav class="navbar navbar-expand-lg navbar-light d-print">
                    <ul>
                        <li class="navbar-item"><a class="navbar-link" href="{{ urls.contact }}">Contact</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="{{ urls.about_us }}">Over ons</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="{{ urls.terms_and_conditions }}">Algemene voorwaarden</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="{{ urls.disclaimer_and_privacy }}">Privacy & Disclaimer</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="{{ urls.support }}">Support en FAQ</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="fill ftrbtm primary-background">
        <div class="container">
            <p>© {{ "now"|date('Y') }} - {{ lang.site_footer.bottom_bar_text }} {{ site_name }}</p>
        </div>
    </div>

    <span class="powered fill">Powered by <a href="https://dropcart.nl">DropCart v3.0</a></span>

</footer>
