{% block styles %}
    {# STYLING #}
    <style type="text/css" rel="stylesheet" media="screen">
        #myCarousel {
            /*width: 65%;*/
            margin:0 auto;
        }
        #myCarousel img {
            width: 100%;
            height: 300px;
        }
        .carousel-control {
            text-shadow: 0 0 3px #333;
        }

        .carousel-control.right {
            background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.5) 100%);
            background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.5) 100%);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,0.5)));
            background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0.5) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
            background-repeat: repeat-x;
        }
        .carousel-control.left {
            background-image: -webkit-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,.0001) 100%);
            background-image: -o-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,.0001) 100%);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0.5)),to(rgba(0,0,0,.0001)));
            background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,.0001) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
            background-repeat: repeat-x;
        }

        @media screen and (max-width: 468px) {
            #myCarousel img {
                height: 150px;
            }
        }
    </style>
{% endblock %}

{# HTML #}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {# Loop doesnt work with 'active' #}
        <div class="item active">
            <img draggable="false" alt="{{ site_name }}" src="{{ lang.page_home.carousel.0.url }}">
            <div class="carousel-caption">
                <h3>{{ lang.page_home.carousel.0.header }}</h3>
                <p>{{ lang.page_home.carousel.0.desc }}</p>
            </div>
        </div>
        <div class="item">
            <img draggable="false" alt="{{ site_name }}" src="{{ lang.page_home.carousel.1.url }}">
            <div class="carousel-caption">
                <h3>{{ lang.page_home.carousel.1.header }}</h3>
                <p>{{ lang.page_home.carousel.1.desc }}</p>
            </div>
        </div>
        <div class="item">
            <img draggable="false" alt="{{ site_name }}" src="{{ lang.page_home.carousel.2.url }}">
            <div class="carousel-caption">
                <h3>{{ lang.page_home.carousel.2.header }}</h3>
                <p>{{ lang.page_home.carousel.2.desc }}</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>