<div class="fill">
    {% for question in lang.page_support.faq %}
        <div class="fill">
            <br>
            <ul class="list card">
                <li class="faq-question card-header" id="faq-question-{{ loop.index }}" data-open="{{ loop.index }}">
                    <a href="#question-{{ loop.index }}">{{ question.q }}</a>
                </li>
                <div class="card-body">

                    <blockquote class="blockquote mb-0">
                        <p class="faq-answer card-block" id="faq-answer-{{ loop.index }}">
                            {{ question.a }}
                        </p>
                    </blockquote>
                </div>
            </ul>
        </div>
    {% endfor %}
</div>

{% block post_js %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            if(window.location.hash !== '')
            {
                $('#faq-answer-' + window.location.hash.substring(window.location.hash.indexOf('-') + 1)).addClass('open');
                $('#faq-question-' + window.location.hash.substring(window.location.hash.indexOf('-') + 1)).addClass('open');
            }
            $('.faq-question').click(function(e)
            {
                $('.faq-answer').removeClass('open');
                $('.faq-question').removeClass('open');
                $('#faq-answer-' + $(this).data('open')).toggleClass('open');
                $('#faq-question-' + $(this).data('open')).toggleClass('open');
            })
        });
    </script>
{% endblock %}

{% block styles %}
    <style type="text/css" rel="stylesheet" media="screen">
        .card {
            list-style: none;
            padding: 0;
            margin-bottom: 50px;
        }
        .faq-question {
            cursor: pointer;
        }
        .faq-question:before {
            content: ' ▸';
            float: right;
            position: relative;
        }
        .faq-question.open:before
        {
            content: ' ▾';
        }
        .faq-question a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
        }
        .faq-question a:hover {
            text-decoration: underline;
        }
        .faq-answer {
            transition: 1s all linear;
            display: block;
            height: 0px;
            overflow: hidden;
        }
        .faq-answer.open {
            min-height: 10px;
            height: auto;
        }
    </style>
{% endblock %}