<ul class="nav nav-pills pages-menu">
    <li><a href="{{ lang.url.contact }}">Contact</a></li>
    <li><a href="{{ lang.url.about_us }}">Over ons</a></li>
    <li><a href="{{ lang.url.terms_and_conditions }}">Algemene voorwaarden</a></li>
    <li><a href="{{ lang.url.disclaimer_and_privacy }}">Privacy & Disclaimer</a></li>
    <li><a href="{{ lang.url.support }}">Support en FAQ</a></li>
    <!--<li><a href="<?= route('account', ['locale' => loc()]); ?>"></a></li>-->
</ul>