<div class="col-sm-5 shopping-bag-block float-right">
    <div class="shopping-bag">
        <div class="fill">
            <div class="offset-md-7 col-md-2 col-sm-3 offset-sm-5 col-2 offset-7 text-right no-padding bold">
                Aantal
            </div>
            <div class="col-md-3 col-sm-4 col-3 text-right no-padding bold">
                Totaal
            </div>
        </div>
        <div class="col-12 shopping-bag-content">
            {% for order_product in shopping_cart %}
                <div class="{{ order_product.product.id }} shopping-bag-item fill">
                    <div class="col-2 d-sm-none d-md-flex no-padding">
                        <img src="{{ order_product.product.images|length > 0 ? order_product.product.images[0].url : '/images/no_image.gif' }}"
                             alt="{{ order_product.product.name }}">
                    </div>
                    <div class="col-lg-6 col-md-5 col-6">
                        <strong><a href="{{ lang.url.product ~ order_product.product.name ~ '/' ~ order_product.product.id }}">{{ order_product.product.name }}</a></strong>
                    </div>
                    <div class="col-md-1 col-sm-2 col-1 text-right no-padding">
                        <span class="product-quantity">{{ order_product.quantity }}</span>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-3 text-right no-padding">
                        <span class="product-subtotal">&euro;&nbsp;{{ (order_product.product.price_details.piece_price.in * order_product.quantity)|number_format(2, ',', '.') }}</span>
                    </div>
                </div>
            {% endfor %}
            <a href="javascript:" id="shopping-bag-expand" class="shopping-bag-toggle hidden">Toon alles <span class="fa fa-chevron-down"></span></a>
            <a href="javascript:" id="shopping-bag-decrease" class="shopping-bag-toggle hidden">Toon minder <span class="fa fa-chevron-up"></span></a>
        </div>
        <div class="fill">
            <div class="subtotal fill">
                <p class="float-left">Subtotaal (incl. BTW)</p>
                <p class="text-right">
                    <span>&euro;&nbsp;{{ shopping_cart_overview.subtotal_price|number_format(2, ',', '.') }}</span>
                </p>
            </div>
            <div class="shipping-costs fill">
                <p class="float-left">Verzendkosten</p>
                <p class="text-right">
                    <span>&euro;&nbsp;{{ shopping_cart_overview.shipping_costs|number_format(2, ',', '.') }}</span>
                </p>
            </div>
            <div class="total fill">
                <p class="float-left bold mb-0">Totaal</p>
                <h4 class="text-right mb-0">
                    <span>&euro;&nbsp;{{ shopping_cart_overview.total_price|number_format(2, ',', '.') }}</span>
                </h4>
            </div>
        </div>
    </div>
</div>

{% block post_js %}
    <script type="text/javascript">

        $bagContent = $('.shopping-bag-content').outerHeight();

        $(document).ready(function() {
            if($bagContent > 440) {
                $('#shopping-bag-expand').toggleClass('hidden');
                $('.shopping-bag-content').css('max-height', '440px');
            } else {
                $('.shopping-bag-content').css('padding-bottom', '0');
            }
        });

        $("#shopping-bag-expand").click(function() {
            $(this).toggleClass('hidden');
            $('#shopping-bag-decrease').toggleClass('hidden');
            $('.shopping-bag-content').css('max-height', $bagContent);
        });
        $("#shopping-bag-decrease").click(function() {
            $(this).toggleClass('hidden');
            $('#shopping-bag-expand').toggleClass('hidden');
            $('.shopping-bag-content').css('max-height', '440px');
        });
    </script>
{% endblock %}