{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <div class="order-tabs">
        <div class="order-tab">
            <a href="{{ lang.url.shopping_cart }}">
                <strong>Stap 1 - </strong>
                Winkelwagen
            </a>
        </div>
        <div class="order-tab">
            <a href="{{ lang.url.customer_details }}">
                <strong>Stap 2 - </strong>
                Uw gegevens
            </a>
        </div>
        <div class="order-tab active">
            <a href="javascript:void(0);">
                <strong>Stap 3 - </strong>
                Bevestigen en betalen
            </a>
        </div>
        <div class="order-tab disabled">
            <a href="javascript:void(0);">
                <strong>Stap 4 - </strong>
                Bestelling geplaatst
            </a>
        </div>
    </div>

    {% include 'blocks/flash_messages.html.twig' %}

    {% if transaction is defined and transaction.status == "CONFIRMED" %}
        <div class="alert alert-warning">
            De bestelling is al bevestigd. Het is nog niet gelukt om de betaling te voltooien. Druk nogmaals op onderstaande knop om deze bestelling te betalen.
        </div>
    {% else %}
        <div class="alert alert-info">
            Controleer de onderstaande informatie goed! Als u een fout ontdekt in het afleveradres, factuuradres of in de contactgegevens, <a href="{{ lang.url.customer_details }}">klik hier om deze te wijzigen</a>
        </div>
    {% endif %}

    <form class="form-horizontal confirm-form bv-form" role="form" method="post" id="paymentForm" action="" >
        <input type="hidden" name="submitting" value="1" />
        <div class="customer-details-overview fill">
            <div id="billing-address" class="col-12 col-sm-4 col-md-3">
                <div class="float-left">
                    <h5><strong>Factuuradres</strong></h5>
                    <span id="paymentName">{{ customer_details.billing_address.first_name ~ ' ' ~ customer_details.billing_address.last_name }}</span>
                    <span>{{ customer_details.billing_address.address_1 ~ ' ' ~ (customer_details.billing_address.address_2 ? customer_details.billing_address.address_2 ~ ' ' : '') ~ customer_details.billing_address.address_house_nr }}</span>
                    <span>{{ customer_details.billing_address.postcode ~ ' ' ~ customer_details.billing_address.city }}</span>
                    <span id="paymentCountry">{{ customer_details.billing_address.country_name }}</span>
                </div>
            </div>
            <div id="shipping-address" class="col-12 col-sm-4 col-md-3">
                <div class="float-left">
                    <h5><strong>Afleveradres</strong></h5>
                    <span id="paymentName">{{ customer_details.shipping_address.first_name ~ ' ' ~ customer_details.shipping_address.last_name }}</span>
                    <span>{{ customer_details.shipping_address.address_1 ~ ' ' ~ (customer_details.shipping_address.address_2 ? customer_details.shipping_address.address_2 ~ ' ' : '') ~ customer_details.shipping_address.address_house_nr }}</span>
                    <span>{{ customer_details.shipping_address.postcode ~ ' ' ~ customer_details.shipping_address.city }}</span>
                    <span id="paymentCountry">{{ customer_details.shipping_address.country_name }}</span>
                </div>
            </div>
            <div id="customer-details" class="col-12 col-sm-4 col-md-3">
                <div class="float-left">
                    <h5><strong>Contactgegevens</strong></h5>
                    <span id="paymentName">{{ customer_details.first_name }}&nbsp;{{ customer_details.last_name }}</span>
                    <span id="paymentEmail">{{ customer_details.email }}</span>
                    <span>{{ customer_details.telephone }}</span>
                </div>
            </div>
        </div>

        {% include 'blocks/small_shoppingbag.html.twig' %}

        <div class="payment-methods col-12 col-sm-7">
            <h5>Selecteer uw gewenste betaalmethode:</h5>

            {# IF ELSE STATEMENT FOR PAYMENT METHODS #}
            {% if payment_provider == 'stripe' %}
                {% include 'blocks/payments/stripe.html.twig' %}
            {% elseif payment_provider == 'mollie' %}
                {% include 'blocks/payments/mollie.html.twig' %}
            {% endif %}
        </div>
    </form>

{% endblock %}

{% block post_js %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function() {
            if($('#shipping-address span').is(':empty')) {
                $('#shipping-address').hide();
                $('#billing-address strong').html('Factuur- en afleveradres')
            } else {
                // Do nothing
            }
        });

    </script>
{% endblock %}