{% extends "layouts/layout.html.twig" %}

{% block content %}

    <div>
        <h1>{{ site_name }}</h1>

        <table class="table table-responsive">
            <tr>
                <th>{{ lang.page_contact.emailaddress_desc }}</th>
                <td>{{ lang.page_contact.emailaddress|raw }}</td>
            </tr>
            <tr>
                <th>{{ lang.page_contact.phone_desc }}</th>
                <td>{{ lang.page_contact.phone|raw }}</td>
            </tr>
            <tr>
                <th>{{ lang.page_contact.address_desc }}</th>
                <td>{{ lang.page_contact.address|raw }}</td>
            </tr>
            <tr>
                <th>{{lang.page_contact.vat_desc }} </th>
                <td>{{lang.page_contact.vat|raw }}</td>
            </tr>
            <tr>
                <th>{{lang.page_contact.coc_desc }}</th>
                <td>{{ lang.page_contact.coc|raw }}</td>
            </tr>
        </table>
    </div>

{% endblock %}