{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/css/customer_details.html.css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h1>{{ page_title }}</h1>

    <ul class="nav nav-tabs order-tabs">
        <li>
            <a href="{{ lang.url.shopping_cart }}">
                <strong>Stap 1 - </strong>
                Winkelwagen
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0);">
                <strong>Stap 2 - </strong>
                Uw gegevens
            </a>
        </li>
        <li class="{{ transaction is defined ? '' : 'disabled' }}">
            <a href="{{ transaction is defined ? lang.url.checkout : 'javascript:void(0);' }}">
                <strong>Stap 3 - </strong>
                Bevestigen en betalen
            </a>
        </li>
        <li class="disabled">
            <a href="javascript:void(0);">
                <strong>Stap 4 - </strong>
                Bestelling geplaatst
            </a>
        </li>
    </ul>

    {% include 'blocks/flash_messages.html.twig' %}

    {% if transaction is defined and tansaction.status == "CONFIRMED" %}
        <div class="alert alert-warning">
            De bestelling is al bevestigd. U kunt deze gegevens daarom niet meer aanpassen, maar alleen lezen: <a href="{{ lang.url.checkout }}">klik hier om te betalen</a>.
        </div>
    {% elseif post.submit is defined %}
        <div class="alert alert-info">
            Vergeet niet onderaan de pagina op de knop "Opslaan" te drukken na het bewerken van de gegevens.
        </div>
    {% endif %}

    <form class="form-horizontal register-form bv-form" role="form" method="post">
        <input type="hidden" name="submitting" value="1" />
        <fieldset>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="email">E-mailadres</label>
                <div class="col-sm-8">
                    <input type="email"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control" name="email" value="{{ customer_details.email }}" data-bv-notempty="true" data-bv-emailaddress="true" data-bv-field="email">
                    <p class="help-block">
                        Op dit e-mailadres ontvangt u het besteloverzicht, het betalingsbewijs en de verzendingsinformatie.
                    </p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="telephone">Telefoonnummer</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control" name="telephone" value="{{ customer_details.telephone }}" data-bv-notempty="true" data-bv-field="telephone">
                    <p class="help-block">
                        Met dit telefoonnummer nemen wij contact op als wij u dringend willen spreken over uw bestelling.
                    </p>
                </div>
            </div>

            <hr>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_company">Bedrijf</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="billing_company" value="{{ customer_details.billing_address.company }}" data-bv-notempty="false" data-bv-field="billing_company">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_first_name">Voornaam</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="billing_first_name" value="{{ customer_details.first_name }}" data-bv-notempty="true" data-bv-field="billing_first_name">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_last_name">Achternaam</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="billing_last_name" value="{{ customer_details.last_name }}" data-bv-notempty="true" data-bv-field="billing_last_name">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_postcode">Postcode</label>
                <div class="col-sm-2">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="1234AB" class="form-control billing_postcode" name="billing_postcode" value="{{ customer_details.billing_address.postcode }}" data-bv-notempty="true" data-bv-field="billing_postcode">
                </div>
                <label class="col-sm-3 control-label" for="billing_house_nr">Huisnummer</label>
                <div class="col-sm-3">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control billing_house_nr" name="billing_house_nr" value="{{ customer_details.billing_address.address_house_nr }}" data-bv-notempty="true" data-bv-field="billing_house_nr">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_address_1">Adres</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control billing_address_1" name="billing_address_1" value="{{ customer_details.billing_address.address_1 }}" data-bv-notempty="true" autocomplete="off" data-bv-field="billing_address_1" /><br />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_address_2">Extra adres regel</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control billing_address_2" name="billing_address_2" value="{{ customer_details.billing_address.address_2 }}" data-bv-notempty="false" autocomplete="off" data-bv-field="billing_address_2" /><br />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="billing_city">Woonplaats</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control billing_city" name="billing_city" value="{{ customer_details.billing_address.city }}" data-bv-notempty="true" autocomplete="off" data-bv-field="billing_city" /><br />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="billing_country">Land</label>
                <div class="col-sm-8">
                    <select class="form-control"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} name="billing_country">
                    {% for country in countries %}
                        <option value="{{ country.id }}"{{ customer_details.billing_address.country_id == country.id ? ' selected' : '' }}>{{ country.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

        </fieldset>

        <div class="form-group checkbox">
            <div class="col-sm-3"></div>
            <div class="col-sm-8">
                <label><input type="checkbox"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} name="has_delivery" id="deliveryAddress"{{ (customer_details.shipping_is_billing is defined and customer_details.shipping_is_billing == false) ? ' checked' : '' }} value="1"> Mijn bestelling op een ander adres afleveren.</label>
            </div>
        </div>

        <fieldset class="delivery" data-toggle="">

            <legend>Afleveradres</legend>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_company">Bedrijf</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="shipping_company" value="{{ customer_details.shipping_address.company }}" data-bv-notempty="false" data-bv-field="shipping_company">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_first_name">Voornaam</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="shipping_first_name" value="{{ customer_details.shipping_address.first_name }}" data-bv-notempty="true" data-bv-field="shipping_first_name">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_last_name">Achternaam</label>
                <div class="col-sm-4">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="" class="form-control" name="shipping_last_name" value="{{ customer_details.shipping_address.last_name }}" data-bv-notempty="true" data-bv-field="shipping_last_name">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_postcode">Postcode</label>
                <div class="col-sm-2">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} placeholder="1234AB" class="form-control shipping_postcode" name="shipping_postcode" value="{{ customer_details.shipping_address.postcode }}" data-bv-notempty="true" data-bv-field="shipping_postcode">
                </div>
                <label class="col-sm-3 control-label" for="shipping_house_nr">Huisnummer</label>
                <div class="col-sm-3">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control shipping_house_nr" name="shipping_house_nr" value="{{ customer_details.shipping_address.address_house_nr }}" data-bv-notempty="true" data-bv-field="shipping_house_nr">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_address_1">Adres</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control shipping_address_1" name="shipping_address_1" value="{{ customer_details.shipping_address.address_1 }}" data-bv-notempty="true" autocomplete="off" data-bv-field="shipping_address_1" /><br />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_address_2">Extra adres regel</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control shipping_address_2" name="shipping_address_2" value="{{ customer_details.shipping_address.address_2 }}" data-bv-notempty="false" autocomplete="off" data-bv-field="shipping_address_2" /><br />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label" for="shipping_city">Woonplaats</label>
                <div class="col-sm-8">
                    <input type="text"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} class="form-control shipping_city" name="shipping_city" value="{{ customer_details.shipping_address.city }}" data-bv-notempty="true" autocomplete="off" data-bv-field="shipping_city" /><br />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="shipping_country">Land</label>
                <div class="col-sm-8">
                    <select class="form-control"{{ (transaction is defined and transaction.status == "CONFIRMED") ? ' disabled="disabled"' : '' }} name="shipping_country">
                        {% for country in countries %}
                            <option value="{{ country.id }}"{{ customer_details.billing_address.country_id == country.id ? ' selected' : '' }}>{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </fieldset>

        <hr />

        <div class="shopping-bag"></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="next-step">
                    {% if transaction is defined and transaction.status == "CONFIRMED" %}
                        <button type="submit" class="btn btn btn-block btn-primary quote-link">Naar stap 3 - Afrekenen</button>
                    {% else %}
                        <button type="submit" class="btn btn btn-block btn-primary quote-link">Opslaan en naar stap 3 - Afrekenen</button>
                    {% endif %}
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block post_js %}

    {{ parent() }}

    <script src="/js/bv.js" language="javascript"></script>
    <script type="text/javascript">

        function pwd_to_text() {
            $(".pwd").replaceWith($('.pwd').clone().attr('type', 'text'));
            $(".reveal").on('mouseout.dropcart', text_to_pwd);
        }

        function text_to_pwd() {
            $(".pwd").replaceWith($('.pwd').clone().attr('type', 'password'));
            $(".reveal").off('mouseout.dropcart');
        }

        $(".reveal").mousedown(pwd_to_text).mouseup(text_to_pwd);

        $('#deliveryAddress').click(function() {
            $('.delivery').slideToggle();
        });

        $('.zipcode, .houseNr, .houseNrAdd').focusout(function() {
            var curThis					= $(this);
            var input_zipcode			= $(curThis).parent().parent().find('.zipcode').val();
            var input_houseNr			= $(curThis).parent().parent().find('.houseNr').val();
            var input_houseNrAdd		= $(curThis).parent().parent().find('.houseNrAdd').val();

            if(input_zipcode != '' && input_houseNr != '') {
                $.get( "/includes/json/validateZipcode.php", {
                    zipcode		: input_zipcode,
                    houseNr		: input_houseNr,
                    houseNrAdd	: input_houseNrAdd
                }, function(data) {
                    var street			= data.street;
                    var houseNr			= data.houseNumber;
                    var houseNumberAdd	= data.houseNumberAdd;
                    var zipcode 		= data.postcode;
                    var city			= data.city;

                    jQuery(curThis).parent().parent().next().find('.address').val(street);
                    jQuery(curThis).parent().parent().next().next().find('.city').val(city);
                }, 'json');
            }
        });

        $(window).load(function() {

            $('.register-form').bootstrapValidator({
                message: 'Dit is een verplicht veld',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            });

            if ("{{ transaction }}" && "{{ transaction.status }}" == "CONFIRMED") {
                $('.register-form').data('bootstrapValidator').validate();
            }

            if ("{{ customer_details.shipping_is_billing }}" && "{{ customer_details.shipping_is_billing }}" == false) {
                //$('.delivery').toggle();
            }

        });
    </script>

{% endblock %}