{% extends "layouts/layout.html.twig" %}

{% block content %}

        <!-- Title -->
        <h1>Disclaimer & Privacy</h1>

        <!-- Disclaimer -->
        <h2>Aansprakelijkheid van de houder van de website jegens derden</h2>
        <p>
            De door {{ lang.page_disclaimer_and_privacy.store_name }} verstrekte informatie is ontleend aan bronnen die
            betrouwbaar mogen worden geacht, maar
            voor de juistheid en volledigheid daarvan kan niet worden
            ingestaan. {{ lang.page_disclaimer_and_privacy.store_name }} streeft er voorts naar om
            deze website voortdurend te onderhouden en te actualiseren, maar kan er niet voor instaan dat de inhoud van
            (onderdelen van) deze website na verloop van tijd of op het moment dat deze website geraadpleegd wordt nog
            steeds juist, volledig of actueel is. De verstrekte informatie is dan ook uitsluitend indicatief en kan op
            ieder
            moment zonder verdere aankondiging worden gewijzigd. Bezoeker van de website is zelf verantwoordelijk voor
            de
            keuze - en het gebruik van de informatie.

            De websites die vanuit deze website bezocht kunnen worden respectievelijk de websites van waaruit deze
            website
            bezocht kan worden, zijn niet door {{ lang.page_disclaimer_and_privacy.store_name }} ingericht en worden ook
            niet door {{ lang.page_disclaimer_and_privacy.store_name }}
            onderhouden.
        </p>
        <p>
            {{ lang.page_disclaimer_and_privacy.store_name }} aanvaardt dan ook geen aansprakelijkheid voor schade in
            verband met het gebruik van deze
            website en de informatie (of de onmogelijkheid die te gebruiken), daaronder begrepen schade veroorzaakt door
            virussen of onjuistheid of onvolledigheid van (i) de informatie, (ii) informatie op of via een website
            waarnaar
            op de website verwezen wordt, of (iii) informatie van of via een website die naar een website verwijst, (iv)
            informatie, die zonder voorafgaand overleg met ons op de website wordt geplaatst.
        </p>
        <p>
            De in dit artikel bedoelde beperking of uitsluiting van de aansprakelijkheid geldt niet voor zover schade
            het
            gevolg is van een bewust roekeloze of opzettelijke tekortkoming
            van {{ lang.page_disclaimer_and_privacy.store_name }}.
        </p>

        <!-- Privacy policy -->
        <h2>Privacyverklaring</h2>

        <strong>Inleidende bepalingen</strong>
        <p>
            Op deze pagina treft u de privacyverklaring van Verantwoordelijke aan. U wordt aangeraden deze
            privacyverklaring
            zorgvuldig te lezen. Verantwoordelijke is statutair gevestigd
            te {{ lang.page_disclaimer_and_privacy.store_location }} aan
            de {{ lang.page_disclaimer_and_privacy.store_address }}
            ({{ lang.page_disclaimer_and_privacy.store_postal_code }}), staat ingeschreven in het handelsregister van de
            Kamer van Koophandel onder {{ lang.page_disclaimer_and_privacy.store_chamber_of_commerce_number }} en draagt
            de
            naam
            {{ lang.page_disclaimer_and_privacy.store_name }}. Verantwoordelijke is per e-mail te bereiken via
            {{ lang.page_disclaimer_and_privacy.store_email }} en telefonisch via
            {{ lang.page_disclaimer_and_privacy.store_phone_number }}.
        </p>
        <p>
            In deze privacyverklaring wordt uitgelegd hoe verantwoordelijke omgaat met de verwerking van de
            persoonsgegevens. Zo wordt onder meer aangegeven welke (categorieën) persoonsgegevens worden verzameld en
            voor
            welk doel de persoonsgegevens worden gebruikt. Tevens geeft Verantwoordelijke aan welke rechtsgrond ten
            grondslag ligt aan het verwerken van de persoonsgegevens.
        </p>
        <p>
            De verwerking van persoonsgegevens van Verantwoordelijke valt binnen de wettelijke vrijstellingsregelingen.
            Om
            die reden is de verwerking niet aangemeld bij de Autoriteit Persoonsgegevens.
        </p>
        <p>
            Verantwoordelijke behoudt zich het recht voor deze privacyverklaring aan te passen. De huidige
            privacyverklaring
            is voor het laatst bijgewerkt op 25-05-2018.
        </p>

        <strong>Soorten, doelen, rechtsgronden en termijn van verwerking van persoonsgegevens</strong>
        <p>
            In de eerste plaats worden persoonsgegevens verwerkt als u met Verantwoordelijke een overeenkomst sluit. De
            persoonsgegevens worden gebruikt voor het uitvoeren van de verplichtingen voor Verantwoordelijke
            voortvloeiende
            uit de koopovereenkomst met u, zoals het opsturen van de bestelling en het kunnen bieden van ondersteuning
            indien u contact met Verantwoordelijke opneemt. Tevens worden uw gegevens verwerkt voor de belastingdienst.
            Bij
            de overeenkomst die u met Verantwoordelijke sluit wordt aangegeven welke gegevens verplicht ingevuld moeten
            worden. Dit zijn uw NAW-gegevens, telefoonnummer en in het geval van een zakelijke bestelling het KVK
            nummer,
            BTW-nummer. Via de overeenkomst wordt ook uw e-mailadres gevraagd. Het e-mailadres is nodig om contact met u
            op
            te kunnen nemen over de uitvoering van de verplichtingen van Verantwoordelijke voortvloeiende uit de
            Overeenkomst indien dit nodig is, maar wordt ook gebruikt voor serviceberichten en om u in de toekomst op de
            hoogte te stellen van producten of diensten die interessant voor u kunnen zijn en indien u hiervoor kiest,
            het
            ontvangen van de nieuwsbrief. De persoonsgegevens worden voor een termijn van 7 jaar opgeslagen in verband
            met
            de fiscale bewaarplicht van Verantwoordelijke tegenover de belastingdienst.
        </p>

        <strong>Cookies</strong>
        <p>
            Verantwoordelijke maakt op haar website gebruik van cookies. Wat zijn cookies? Een cookie is een stukje data
            dat
            door een website op uw computer wordt geplaatst. Elke keer wanneer u de website van verantwoordelijke
            bezoekt,
            verzamelt zij technische basis informatie zoals via welke website u op deze website terecht bent gekomen.
            Deze
            privacyverklaring is van toepassing op cookies en soortgelijke technologie.  Deze website kan cookies
            gebruiken
            om bezoekers te voorzien van afgestemde informatie, om informatie te verzamelen en om de bezoeker te volgen
            tijdens het bezoek aan de website. Dit helpt Verantwoordelijke om een goede gebruikservaring aan u te kunnen
            leveren.
        </p>

        <strong>Doorgifte aan verwerkers en derden</strong>
        <p>
            Persoonsgegevens worden verwerkt door bedrijven die door verantwoordelijke zijn ingeschakeld voor de
            uitvoering
            van de overeenkomst. De wet noemt deze bedrijven 'verwerkers'. U kunt hierbij denken aan het bedrijf welke
            de
            hosting van de website verzorgt of een door Verantwoordelijke ingeschakelde pakketdienst. De verwerkers
            handelen
            onder verantwoordelijkheid van Verantwoordelijke.
        </p>

        <p>
            Ook zullen persoonsgegevens worden gedeeld met derden als Verantwoordelijke op grond van een wettelijke
            verplichting gehouden is persoonsgegevens door te geven aan bevoegde instanties.
        </p>

        <strong>Beveiliging</strong>
        <p>
            Verantwoordelijke heeft passende technische en organisatorische maatregelen getroffen om uw persoonsgegevens
            te
            beveiligen tegen verlies of onrechtmatige verwerking. De website heeft een SSL-certificaat, waardoor de
            gegevens
            over een beveiligde verbinding verstuurd worden.
        </p>

        <strong>Uw privacyrechten</strong>
        <p>
            U heeft recht op inzage, rectificatie, verwijdering of beperking van het verwerken van uw persoonsgegevens
            overeenkomstig het bepaalde in de Algemene Verordening Gegevensbescherming. U kunt
            altijd schriftelijk een verzoek doen tot inzage,
            rectificatie, verwijdering of beperking van het verwerken
            van
            uw persoonsgegevens. Het verzoek tot verwijderen van gegevens zal binnen een maand uitgevoerd worden.
        </p>

        <p>
            Indien u vragen heeft over deze privacyverklaring, dan kunt u een e-mail zenden aan
            {{ lang.page_disclaimer_and_privacy.store_email }}.
        </p>
        <p>
            Indien u een klacht wilt indienen over Verantwoordelijke met betrekking tot het verwerken van uw
            persoonsgegevens, dan kunt u dit doen bij een toezichthoudende autoriteit (bijvoorbeeld de Autoriteit
            Persoonsgegevens).
        </p>

{% endblock %}