{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h2 class="text-capitalize bold col-xs-12">{{ page_title }}</h2>

    <div class="col-xs-12 product-page no-padding">
        <div class="col-md-6 float-left">
            <img src="{{ product.images|length > 0 ? product.images[0].url : '/images/no_image.gif' }}" class="featured-img fill">
            <div class="product-info float-left">
                <div class="product-left-column">
                    <div style="padding-bottom: 10px;">
                        <h4>Product beschrijving</h4>
                        <!-- PRODUCT DESCRIPTION -->
                        <p>{{ product.description ? product.description : product.name ~ ' wordt binnen 24 uur verzonden mits op voorraad. Dat is de service van ' ~ site_name ~ '!' }}</p>
                    </div>

                    <div class="specs">
                        <h4>Productspecificaties</h4>
                        <b>Productkenmerken</b>
                        <dl class="specs-list">
                            <dt>Merk</dt>
                            <dd>Brother</dd>
                            <dt>Etc</dt>
                            <dd>etc</dd>
                        </dl>
                        <b>EAN</b>
                        <dl class="specs-list">
                            <dt>EAN</dt>
                            <dd>{{ product.ean }}</dd>
                        </dl>
                        <b>SKU</b>
                        <dl class="specs-list">
                            <dt>SKU</dt>
                            <dd>{{ product.sku }}</dd>
                        </dl>
                    </div>
                    <a href="javascript:" class="fill float-left show-more text-center brand-primary">Toon details
                        <span class="glyphicon glyphicon-chevron-down pos-inline"></span></a>
                    <a href="javascript:" class="fill float-left show-less text-center brand-primary hidden">Verberg details
                        <span class="glyphicon glyphicon-chevron-up pos-inline"></span></a>
                </div>
            </div>

        </div>


        <div class="col-md-6 float-left">
            <div class="float-left fill">
                {% if product.price_details %}
                    <div class="float-left fill" style="position:relative;">
                        <h1 class="price-details bold float-left">
                            &euro;&nbsp;{{ (product.price_details.piece_price.in)|number_format(2, ',', '.') }}
                        </h1>
                        <span class="price-btw">Incl. BTW</span>
                    </div>

                    <!-- PRODUCT STOCK -->
                    <div class="stock-shipping-status">
                        {% if product.stock %}

                            {% if product.stock > 10 %}
                                <div class="label label-success">Ruimschoots op voorraad</div>
                            {% else %}
                                <div class="label label-success">Op voorraad</div>
                            {% endif %}

                            {% if product.shipping_details.shipping_days %}
                                <div class="label label-info">Levertijd {{ product.shipping_details.shipping_days }} werkdag(en)</div>
                            {% else %}
                                <div class="label label-info">Levertijd 1-3 werkdag(en)</div>
                            {% endif %}
                        {% else %}
                            <div class="label label-warning">Niet op voorraad</div>
                        {% endif %}
                    </div>

                    <p class="fill" style="padding: 15px 0; margin-bottom: 0;">Verkoop door {{ site_name }}</p>

                    <div class="col-xs-12 col-md-8 product-buy-amount select-quantity">
                        <input class="form-control product-quantity" min="1" value="1" type="number" style="">

                        <div class="col-xs-8 no-padding">
                            <a href="{{ lang.url.shopping_cart_add ~ product.id }}/1" data-product-id="{{ product.id }}"
                               data-product-price="{{ (product.price_details.piece_price.in) }}"
                               class="btn btn btn-block btn-success order-link">
                                Bestellen <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <ul class="product-checklist float-left">
                <li>Inktpatronen voor verschillende type printers</li>
                <li>Foto's en tekst van laserkwaliteit</li>
                <li>Inkt op pigmentbasis i.p.v. waterbasis (dit is kleurvaster en vervaagt minder snel)</li>
                <li>Inclusief chip</li>
                <li>Kleur en zwart verkrijgbaar</li>
                <li>Extra lang print-plezier</li>
                <li>Top kwaliteit inktpatronen</li>
                <li>Extra inkt in huis; altijd handig!</li>
                <li>Verzendkosten: € 8,19</li>
            </ul>

            <h4>Gerelateerde producten</h4>
            {% for product in products %}
                <div class="row">

                </div>
                <hr>

            {% else %}
                <div class="alert alert-info">
                    Geen producten beschikbaar
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block post_js %}
    {{ parent() }}
    <script type="text/javascript">
        $productInfo = $('.product-left-column').outerHeight();

        $(".show-more").on('click', function () {
            $(".product-info").css('height', $productInfo + 40);
            $(this).addClass('hidden');
            $('.show-less').removeClass('hidden');
        });

        $(".show-less").on('click', function () {
            $(".product-info").css('height', '300px');
            $(this).addClass('hidden');
            $('.show-more').removeClass('hidden');
        });
    </script>

    {% include 'blocks/ajax_shoppingcart.html.twig' %}
{% endblock %}