{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>Algemene voorwaarden</h1>
    <br/>

    <!-- Article 1 -->
    <h4>Artikel 1 Definities</h4>
    <ol>
        <!-- 1 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is een besloten vennootschap met beperkte aansprakelijkheid die zich ten doel stelt de
            verkoop van {{ lang.page_disclaimer_and_privacy.product_range_description }}.
        </li>
        <!-- 2 -->
        <li>
            In deze Algemene voorwaarden wordt onder ‘Klant’ verstaan: een natuurlijke persoon of een rechtspersoon die
            een Koopovereenkomst sluit met {{ lang.page_disclaimer_and_privacy.store_name }} via de Website, via e-mail of via een andere weg.
        </li>
        <!-- 3 -->
        <li>
            In deze Algemene voorwaarden wordt onder ‘Koopovereenkomst’ verstaan: de rechtsbetrekking tussen de Klant en
            {{ lang.page_disclaimer_and_privacy.store_name }}.
        </li>
        <!-- 4 -->
        <li>
            In deze Algemene voorwaarden wordt onder ‘Website’ verstaan {{ lang.page_disclaimer_and_privacy.store_url }}.
        </li>
    </ol>
    <br/>

    <!-- Article 2 -->
    <h4>Artikel 2 Toepasselijkheid van de Algemene voorwaarden</h4>
    <ol>
        <!-- 1 -->
        <li>
            De Algemene voorwaarden zijn van toepassing op alle relaties die gelden tussen Klant en {{ lang.page_disclaimer_and_privacy.store_name }}.
        </li>
        <!-- 2 -->
        <li>
            Afwijkingen van de Algemene voorwaarden zijn slechts geldig indien uitdrukkelijk en schriftelijk met
            {{ lang.page_disclaimer_and_privacy.store_name }} overeengekomen.
        </li>
        <!-- 3 -->
        <li>
            Indien één of meer van de bepalingen van deze Algemene voorwaarden in strijd zijn met een wettelijk
            voorschrift of andere regelgeving, blijven de overige bepalingen in stand.
        </li>
    </ol>
    <br/>

    <!-- Article 3 -->
    <h4>Artikel 3 Identiteit van {{ lang.page_disclaimer_and_privacy.store_name }}</h4>
    <ol>
        <!-- 1 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is bij de KvK geregistreerd onder nummer {{ lang.page_disclaimer_and_privacy.store_chamber_of_commerce_number }} en draagt BTW-identificatienummer
            {{ lang.page_disclaimer_and_privacy.store_vat_number }}. {{ lang.page_disclaimer_and_privacy.store_name }} is gevestigd aan de {{ lang.page_disclaimer_and_privacy.store_address }} ({{ lang.page_disclaimer_and_privacy.store_postal_code }}), te {{ lang.page_disclaimer_and_privacy.store_location }}.
        </li>
        <!-- 2 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is telefonisch te bereiken op {{ lang.page_disclaimer_and_privacy.store_phone_number }}, per e-mail via {{ lang.page_disclaimer_and_privacy.store_email }} of
            middels de website {{ lang.page_disclaimer_and_privacy.store_url }}.
        </li>
    </ol>
    <br/>

    <!-- Article 4 -->
    <h4>Artikel 4 Toepasselijk recht en bevoegde rechter</h4>
    <ol>
        <!-- 1 -->
        <li>
            Op de rechtsverhouding(en) tussen {{ lang.page_disclaimer_and_privacy.store_name }} en Klanten is Nederlands recht van toepassing.
        </li>
        <!-- 2 -->
        <li>
            Alle geschillen die tussen {{ lang.page_disclaimer_and_privacy.store_name }} en Klanten mochten ontstaan worden beslecht door de bevoegde
            rechter van het Arrondissement {{ lang.page_disclaimer_and_privacy.court_province }} locatie {{ lang.page_disclaimer_and_privacy.court_location }}.
        </li>
    </ol>
    <br/>

    <!-- Article 5 -->
    <h4>Artikel 5 Overige bepalingen</h4>
    <ol>
        <!-- 1 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} garandeert dat persoonlijke gegevens vertrouwelijk worden behandeld. De ontvangen
            vertrouwelijke gegevens zullen slechts gebruikt worden voor het doel waarvoor deze verstrekt zijn. Gegevens
            worden in ieder geval als vertrouwelijk beschouwd indien deze door één der partijen als zodanig zijn
            aangeduid. {{ lang.page_disclaimer_and_privacy.store_name }} kan hieraan niet worden gehouden indien de verstrekking van gegevens aan een
            niet betrokken derde noodzakelijk is ingevolge een rechterlijke uitspraak of een wettelijk voorschrift.
        </li>
        <!-- 2 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is echter niet aansprakelijk voor schade als gevolg van onjuistheden, problemen veroorzaakt
            door, of inherent aan het verspreiden van informatie via internet alsmede technische storingen.
        </li>
    </ol>

    <h2>{{ lang.page_disclaimer_and_privacy.store_name }} en Klant</h2>
    <br/>

    <!-- Article 6 -->
    <h4>Artikel 6 Koopovereenkomst</h4>
    <ol>
        <!-- 1 -->
        <li>
            Klant plaatst online via de website, telefonisch of per e-mail een bestelling waarna {{ lang.page_disclaimer_and_privacy.store_name }} deze
            bevestigt per e-mail. Pas wanneer {{ lang.page_disclaimer_and_privacy.store_name }} de bestelling bevestigt komt de Koopovereenkomst tot
            stand.
        </li>
        <!-- 2 -->
        <li>
            Door het plaatsen van de bestelling zoals genoemd in artikel 6.1 van deze Algemene voorwaarden aanvaardt
            Klant tevens de toepasselijkheid van deze Algemene voorwaarden op de Koopovereenkomst. Deze Algemene
            voorwaarden zijn te vinden op de Website.
        </li>
        <!-- 3 -->
        <li>
            De opdrachtbevestiging die {{ lang.page_disclaimer_and_privacy.store_name }} aan Klant stuurt in geval van een bestelling is beslissend voor
            de inhoud en uitleg van de overeenkomst, onder voorbehoud van kennelijke verschrijvingen.
        </li>
        <!-- 4 -->
        <li>
            Eventuele aantekeningen en reacties van Klant op de opdrachtbevestiging van {{ lang.page_disclaimer_and_privacy.store_name }} maken geen deel
            uit van de overeenkomst, tenzij {{ lang.page_disclaimer_and_privacy.store_name }} die alsnog schriftelijk bevestigt.
        </li>
    </ol>
    <br/>

    <!-- Article 7 -->
    <h4>Artikel 7 Kosten, honorering en betaling</h4>
    <ol>
        <!-- 1 -->
        <li>
            Alle door {{ lang.page_disclaimer_and_privacy.store_name }} gecommuniceerde bedragen zijn exclusief btw, tenzij expliciet anders aangegeven.
        </li>
        <!-- 2 -->
        <li>
            Verzendkosten verschillen per land en mogelijk per product en komen voor rekening van Klant.
        </li>
        <!-- 3 -->
        <li>
            Betaling is exclusief vooraf mogelijk tenzij schriftelijk anders overeengekomen met {{ lang.page_disclaimer_and_privacy.store_name }}.
        </li>
        <!-- 4 -->
        <li>
            Betalen in termijnen is niet mogelijk.
        </li>
        <!-- 5 -->
        <li>
            Indien een aan Klant verzonden factuur niet uiterlijk op de vervaldag is betaald, zal hij automatisch in
            gebreke zijn, zonder dat verdere ingebrekestelling is vereist. In geval van betalingsverzuim door Klant is
            {{ lang.page_disclaimer_and_privacy.store_name }} gerechtigd alle ten behoeve van Klant te verrichten werkzaamheden met onmiddellijke ingang
            te staken of op te schorten, zonder dat zij daardoor op enige wijze jegens Klant schadeplichtig kan worden.
            De gevolgen van een niet tijdige betaling van facturen, zoals een niet-ontvankelijkheidsverklaring, komen
            voor rekening en risico van Klant.
        </li>
        <!-- 6 -->
        <li>
            Indien {{ lang.page_disclaimer_and_privacy.store_name }} om haar moverende redenen besluit een vordering wegens niet-betaling van één of meer
            niet-betaalde facturen langs gerechtelijke weg te incasseren, is Klant, naast de verschuldigde hoofdsom,
            tevens gehouden alle in redelijkheid gemaakte gerechtelijke en buitengerechtelijke kosten te vergoeden. De
            vergoeding van gemaakte gerechtelijke en buitengerechtelijke kosten wordt vastgesteld conform het alsdan
            geldende Besluit dat ziet op vergoeding voor buitengerechtelijke incassokosten.
        </li>
    </ol>
    <br/>

    <!-- Article 8 -->
    <h4>Artikel 8 Herroepen van de Overeenkomst</h4>
    <ol>
        <!-- 1 -->
        <li>
            Klant heeft een bedenktermijn van veertien (14) dagen om de Overeenkomst te herroepen.
        </li>
        <!-- 2 -->
        <li>
            Indien er kosten gemaakt zijn door {{ lang.page_disclaimer_and_privacy.store_name }} met betrekking tot de nakoming van de verplichtingen
            voor {{ lang.page_disclaimer_and_privacy.store_name }} die voortvloeien uit de Koopovereenkomst, komen deze kosten voor rekening van Klant.
            Artikel 7 van de Algemene voorwaarden is van overeenkomstige toepassing. Dit is niet het geval wanneer Klant
            een consument is, te weten een natuurlijk persoon is die handelt voor doeleinden die buiten zijn bedrijfs-
            of beroepsactiviteit vallen.
        </li>
        <!-- 3 -->
        <li>
            Geleverde bederfelijke waren en producten waarvan de gesealde/verzegelde verpakking verbroken is zijn
            onderhevig aan een waardevermindering van honderd (100) procent en zijn daarom uitgesloten van het
            herroepingsrecht tenzij redelijkerwijs vastgesteld kan worden dat het verbreken van de gesealde/verzegelde
            verpakking in transport plaatsgevonden heeft.
        </li>
        <!-- 4 -->
        <li>
            In het geval dat Klant haar klacht kenbaar gemaakt heeft bij {{ lang.page_disclaimer_and_privacy.store_name }}, door {{ lang.page_disclaimer_and_privacy.store_name }}
            vastgesteld is dat een ondeugdelijk product geleverd is door {{ lang.page_disclaimer_and_privacy.store_name }} en geen oplossing gevonden kan
            worden dan wel een deugdelijk vervangend product geleverd kan worden is het alsnog mogelijk in overleg de
            overeenkomst te herroepen.
        </li>
    </ol>
    <br/>

    <!-- Article 9 -->
    <h4>Artikel 9 Levering</h4>
    <ol>
        <!-- 1 -->
        <li>
            Levering geschiedt door {{ lang.page_disclaimer_and_privacy.store_name }} of door haar ingeschakelde derden, zoals maar niet uitsluitend
            PostNL, GLS, TNT, UPS of DHL, tenzij uitdrukkelijk anders overeengekomen.
        </li>
        <!-- 2 -->
        <li>
            Levering geschied volgens termijn aangegeven op de website, welke per product kan verschillen.
        </li>
        <!-- 3 -->
        <li>
            Wanneer zeven (7) dagen na de leveringstermijn genoemd in lid 2 van artikel 9 van deze Algemene voorwaarden
            nog niet geleverd is door {{ lang.page_disclaimer_and_privacy.store_name }}, dient Klant {{ lang.page_disclaimer_and_privacy.store_name }} in te lichten. Wanneer
            {{ lang.page_disclaimer_and_privacy.store_name }} niet binnen een redelijke termijn reageert en/of levert, mag Klant de Koopovereenkomst
            ontbinden en heeft Klant recht op terugbetaling van de aankoopprijs.
        </li>
    </ol>
    <br/>

    <!-- Article 10 -->
    <h4>Artikel 10 Aansprakelijkheid</h4>
    <ol>
        <!-- 1 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} kan niet aansprakelijk worden gesteld voor de onjuistheid van informatie die wordt
            verschaft via de Website en de schade die daaruit voortvloeit, tenzij deze onjuistheid is ontstaan door
            opzet of bewuste roekeloosheid door {{ lang.page_disclaimer_and_privacy.store_name }}.
        </li>
        <!-- 2 -->
        <li>
            Indien {{ lang.page_disclaimer_and_privacy.store_name }} aansprakelijk wordt gesteld, zal zij uitsluitend aansprakelijk zijn voor directe
            schade die daadwerkelijk door Klant is opgelopen, betaald of geleden vanwege een aantoonbaar tekortschieten
            van {{ lang.page_disclaimer_and_privacy.store_name }}’ verplichtingen met betrekking tot haar diensten.
        </li>
        <!-- 3 -->
        <li>
            De aansprakelijkheid als bedoeld in artikel 10.2 van deze Algemene voorwaarden wordt beperkt tot het door
            {{ lang.page_disclaimer_and_privacy.store_name }} gecrediteerde of te crediteren bedrag behorend bij de bestelling waartoe de
            aansprakelijkheid betrekking heeft.
        </li>
        <!-- 4 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is niet aansprakelijk voor bestellingen die niet of te laat geleverd worden als gevolg van
            overmacht zoals omschreven in artikel 11 van de Algemene voorwaarden.
        </li>
        <!-- 5 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is niet aansprakelijk voor schade veroorzaakt door foutieve ofwel gebrekkige verstrekking
            van het juiste bezorgadres.
        </li>
        <!-- 6 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is niet aansprakelijk indien er schade ontstaat door incorrecte gegevens zoals verstrekt
            door Klant. Dit is tevens het geval indien er sprake is van een typefout of enig ander onbedoelde foute
            verstrekking van gegevens.
        </li>
    </ol>
    <br/>

    <!-- Article 11 -->
    <h4>Artikel 11 Overmacht</h4>
    <ol>
        <!-- 1 -->
        <li>
            Onder overmacht wordt verstaan, alle van buiten komende oorzaken, buiten wil of toedoen van
            {{ lang.page_disclaimer_and_privacy.store_name }}, waardoor volledige of juiste nakoming van de overeenkomst niet meer mogelijk is.
        </li>
        <!-- 2 -->
        <li>
            Onder overmacht zoals in het vorige lid bedoeld, wordt mede verstaan, maar is niet beperkt tot:
            niet-nakoming van een derde, zoals maar niet uitsluitend Mollie, ziekte van personeel van {{ lang.page_disclaimer_and_privacy.store_name }}
            zelf of een derde, abnormale weersomstandigheden, storingen in water- en energieleveringen, stakingen,
            ernstige storingen in de systemen van {{ lang.page_disclaimer_and_privacy.store_name }}, brand, overstromingen, natuurrampen, rellen, oorlog
            of anderszins binnenlandse onrusten.
        </li>
        <!-- 3 -->
        <li>
            In geval van overmacht wordt nakoming van de overeenkomst opgeschort zolang de overmacht aanhoudt.
        </li>
        <!-- 4 -->
        <li>
            Indien de overmacht langer dan één maand aanhoudt, zijn de partijen gerechtigd de overeenkomst zonder
            tussenkomst van de rechter te ontbinden. In een dergelijk geval zal {{ lang.page_disclaimer_and_privacy.store_name }} overgaan terugbetaling
            van de eventueel betaalde koopprijs, met daarop in mindering gebracht alle kosten die {{ lang.page_disclaimer_and_privacy.store_name }} heeft
            gemaakt met betrekking tot de overeenkomst, daarbij inbegrepen, maar niet beperkt tot loonkosten en in- en
            aankoop bij derden.
        </li>
    </ol>
    <br/>

    <!-- Article 12 -->
    <h4>Artikel 12 Opschorting, ontbinding en tussentijdse opzegging van de Koopovereenkomst</h4>
    <ol>
        <!-- 1 -->
        <li>
            {{ lang.page_disclaimer_and_privacy.store_name }} is bevoegd de nakoming van de verplichtingen op te schorten of de overeenkomst te
            ontbinden, indien Klant de verplichtingen uit de overeenkomst niet, niet volledig of niet tijdig nakomt, dan
            wel indien {{ lang.page_disclaimer_and_privacy.store_name }} goede grond heeft te vrezen dat Klant in die verplichtingen tekort zal schieten.
        </li>
        <!-- 2 -->
        <li>
            In geval van liquidatie, van (aanvragen van) surséance van betaling of faillissement, van beslaglegging –
            indien en voor zover het beslag niet binnen drie maanden is opgeheven – ten laste van Klant, van
            schuldsanering of een andere omstandigheid waardoor Klant niet langer vrijelijk over zijn vermogen kan
            beschikken, staat het {{ lang.page_disclaimer_and_privacy.store_name }} vrij om de overeenkomst per direct op te zeggen dan wel de
            overeenkomst te annuleren, zonder enige verplichting harerzijds tot betaling van enige schadevergoeding of
            schadeloosstelling. De vorderingen van {{ lang.page_disclaimer_and_privacy.store_name }} op Klant zijn in dat geval onmiddellijk opeisbaar.
        </li>
        <!-- 3 -->
        <li>
            Indien {{ lang.page_disclaimer_and_privacy.store_name }} de nakoming van de verplichtingen opschort, behoudt zij haar aanspraken uit de wet
            en overeenkomst en is zij op geen enkele wijze gehouden tot vergoeding van schade en kosten die daardoor op
            welke wijze dan ook ontstaan.
        </li>
        <!-- 4 -->
        <li>
            Indien de ontbinding aan Klant toerekenbaar is, is {{ lang.page_disclaimer_and_privacy.store_name }} gerechtigd tot vergoeding van de schade,
            daaronder begrepen de kosten, zowel direct als indirect ontstaan.
        </li>
        <!-- 5 -->
        <li>
            Indien Klant zijn uit de overeenkomst voortvloeiende verplichtingen niet nakomt en deze niet-nakoming
            ontbinding rechtvaardigt, dan is {{ lang.page_disclaimer_and_privacy.store_name }} gerechtigd de overeenkomst per direct te ontbinden zonder
            enige verplichting harerzijds tot betaling van enige schadevergoeding of schadeloosstelling. Klant
            daarentegen is, uit hoofde van wanprestatie, wel tot schadevergoeding of schadeloosstelling verplicht.
        </li>
    </ol>

{% endblock %}